@model Rivals.Training

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Training</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisplayTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowedMembers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowedMembers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locatie.LocatieNaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locatie.LocatieNaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trainer.DisplayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trainer.DisplayName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrainingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
