@model IEnumerable<Rivals.Training>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DisplayTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowedMembers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locatie.LocatieNaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trainer.DisplayName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowedMembers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Locatie.LocatieNaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trainer.DisplayName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrainingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrainingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrainingId })
        </td>
    </tr>
}

</table>
